# Dependencies
node_modules/

# Env files
.env
.env.*
!.env.example

# Build outputs
dist/
build/
.next/
out/

# Logs
logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Vercel
.vercel

# Coverage
coverage/

# Firebase admin key
**serviceAccountKey*.json*